.slider {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    height: 100%;
}

.swiper-slide {
    padding: rem(30) rem(20);
    background-color: var(--color-white);
    border-radius: rem(16);
    height: rem(500);

    @media (prefers-color-scheme: dark) {
        color: var(--color-white);
        background-color: var(--maxuiux-color-purple-900);
    }
}