.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
.vscode
*.sublime*
.github
.env
.yarn/cache
.yarn/install-state.gz
ehthumbs.db
Thumbs.db
_config.yml
node_modules
package-lock.json

# Вспомогательные файлы
*.log*

# Папка с собранными файлами проекта
dist

gulp-tasks/ftpSettings.json